* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background-color: gray;
}
header {
  height: 80px;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: black;
  text-transform: uppercase;
}
h1 {
  color: red;
}
.search_section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search {
  height: 25px;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.button_search {
  height: 25px;
  width: 50px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  color: lightgrey;
}
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
}
.cover {
  height: 330px;
  width: 220px;
  margin: 5px;
  position: relative;
  border: 1px solid white;
  border-radius: 2px;
  background-size: contain;
}
.cover > img {
  height: 100%;
  width: 100%;
  border-radius: 2px;
}
.cover:hover > .cover_information {
  visibility: visible;
}
.cover_information {
  height: 328px;
  width: 218px;
  position: absolute;
  left: 0;
  top:0;
  padding: 10px;
  border-radius: 2px;
  background-color:  rgba(0, 0, 0, 0.93);
  color: white;
  visibility: hidden;
  overflow-y: scroll;
}
.cover_information > ul {
  list-style: none;
}
.cover_information > ul > li{
  margin: 10px 0;
}
.cover_information > ul > li > span{
  color: red;
}
