<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <title>Boolflix</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="root">
    <header>
      <h1>boolflix</h1>
      <div class="search_section">
        <input class="search" type="text" name="search" value="" placeholder="inserisci nome del film" v-model="searchInput" @keydown.enter="searchMovies">
        <input class="button_search" type="submit" value="invio" @click="searchMovies">
      </div>
    </header>
    <section>
      <div  class="cover" v-for="film in films">
        <img :src="'https://image.tmdb.org/t/p/w600_and_h900_bestv2/'+film.poster_path" :alt="film.title">
        <div class="cover_information">
          <ul>
            <li><span>Titolo:</span> {{film.title}}</li>
            <li><span>Titolo originale:</span> {{film.original_title}}</li>
            <li><span>Voto:</span> {{points}}</li>
            <li> <span>Descrizione:</span> {{film.overview}}</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
